<div class="article-main row justify-content-center">
  <div class="w-lg-50 w-100 w-md-75 ">
    <div class="box main align-items-center d-flex flex-column border p-5 container">
        <h1 class="font-weight-bold">New Article</h1>
      <div class="article-field w-100">
        <%= render 'articles/form' %>
      </div>
    </div>
  </div>
</div>