<div class="box main my-5 mx-auto align-items-center d-flex flex-column border p-4 container w-25">
    <h1 class="text-primary font-weight-bold text-primary">Sign Up</h1>
  <div class="login-field">
    <%= render 'users/form' %>
  </div>
</div>