<div class="login-main row justify-content-center">
  <div class="col-12 col-md-10 col-lg-auto">
    <div class="box main align-items-center d-flex flex-column border p-5 container">
        <h1 class="text-primary font-weight-bold text-primary">Sign Up</h1>
      <div class="login-field">
        <%= render 'users/form' %>
      </div>
    </div>
  </div>
</div>