/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap/scss/bootstrap";
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

.logo {
  .logo-text {
    color: #4e443e;
    font-size: 24px;
  }

  .dot-icon {
    color: #EC6010;
    font-size: 14px;
  }
}

.nav-right {
  .login {
    color: #95918C;
    font-size: 16px;
    margin: 0 5px;
    text-transform: uppercase;
    text-decoration: none;
  }

  .search-icon {
    color: #95918C;
    margin: 0 10px 0 20px;
  }
}
// Main section

// Footer Section
.footer {
  background-color: #4e443e;
  display: flex;
  align-items: center;
  flex-grow: 3;

  .logo {
    flex-grow: 1;
  }

  .footer-text {
    color: #fff;
    font-size: 24px;
  }

  .middle-footer{
    display: flex;
    justify-content: center;
    color: #fff;
    flex-grow: 1;
    font-size: 14px;

    span {
      color: #EC6010;
    }
  }

  .right-footer {
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
    display: flex;

    .right-text {
      color: #fff;
      margin-right: 5px;
    }

    .footer-icon {
      padding: 5px;
      border-radius: 50%;
      background: #EC6010;
      margin-right: 5px;
    }
  }
}