.article-main {
  background-color: #4e443e;

  .box {
    margin: 4rem auto 2rem auto;
    background-color: #fff;
    border-radius: 5px;
  }

  h1 {
    color: #ec6010;
  }
}

.cat-button {
  background-color: #ec6010 !important;
  border-color: #ec6010 !important;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}

.cat-button:hover {
  text-decoration: none;
  color: #fff;
}

// Category list grid- index.html

.category-grid-view {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  figure {
    position: relative;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.555), black), linear-gradient(to bottom right, rgba(0, 0, 0, 0.265) 30%, black);
    margin: 0;
    height: 16rem;

    img {
      object-fit: cover;
      background-size: cover;
      width: 100%;
      height: 16rem;
      z-index: -1;
      position: relative;
    }

    figcaption {
      position: absolute;
      left: 5%;
      top: 80%;
      color: #fff;
      font-weight: 600;
    }

    .category-title-link {
      position: absolute;
      top: 10%;
      left: 5%;
      color: #fff;
      font-weight: 800;
      text-transform: capitalize;
      font-size: 20px;
      border-bottom: 4px solid #eae81c;

      &:hover {
        color: #ec6010;
      }
    }

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        color: #ec6010;
      }
    }
  }
}

// show page

.main-article-show {
  background-color: #4e443e;

  .image-banner {
    height: 70vh;

    img {
      object-fit: cover;
      background-size: cover;
      width: 100%;
      height: 70vh;
      background-position: center;
      position: relative;
    }
  }

  .main-body-show {
    .box {
      border: 3px solid #ccc;
      border-radius: 10px;
      padding: 0.5rem;
      box-shadow: 0 4px 8px 0 rgba(76, 68, 68, 0.2);
      transition: 0.3s;
      margin: 96px auto;

      p {
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 9;
        -webkit-box-orient: vertical;
        text-align: justify;
      }

      h2 {
        color: #ec6010;
        font-weight: 700;
      }
    }
  }
}

// Hero-section index.html.erb

.hero-section {
  position: relative;

  .hero-image {
    figure {
      margin: 0;
      height: 60vh;
      background:
        linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.34) 0,
          rgba(0, 0, 0, 0.338) 3.5%,
          rgba(0, 0, 0, 0.324) 7%,
          rgba(0, 0, 0, 0.306) 10.35%,
          rgba(0, 0, 0, 0.262) 17.35%,
          rgba(0, 0, 0, 0.237) 20.85%,
          rgba(0, 0, 0, 0.188) 27.85%,
          rgba(0, 0, 0, 0.165) 31.35%,
          rgba(0, 0, 0, 0.126) 38.35%,
          rgba(0, 0, 0, 0.112) 41.85%,
          rgba(0, 0, 0, 0.1) 48.85%,
          rgba(0, 0, 0, 0.103) 52.35%,
          rgba(0, 0, 0, 0.126) 59.35%,
          rgba(0, 0, 0, 0.144) 62.85%,
          rgba(0, 0, 0, 0.188) 69.85%,
          rgba(0, 0, 0, 0.213) 73.35%,
          rgba(0, 0, 0, 0.262) 80.35%,
          rgba(0, 0, 0, 0.285) 83.85%,
          rgba(0, 0, 0, 0.324) 90.85%,
          rgba(0, 0, 0, 0.338) 94.35%,
          rgba(0, 0, 0, 0.347) 97.85%,
          rgba(0, 0, 0, 0.35)
        );
      background-size: cover;

      img {
        background-size: cover;
        background-position: center;
        height: 60vh;
        z-index: -1;
        width: 100%;
        position: relative;
      }

      figcaption {
        a {
          position: absolute;
          bottom: 12%;
          font-weight: 700 !important;
          color: #fd6000;
          left: 1.5%;
          font-size: 20px;
          text-decoration: none;

          &:hover {
            color: #fff;
          }
        }
      }

      p {
        position: absolute;
        bottom: 2%;
        left: 1.5%;
        color: #fff;
      }
    }
  }
}

.article-comment {
  margin: 0 1rem 0 3rem;
}

@media screen and (min-device-width: 1024px) {
  .article-main {
    background-color: #4e443e;

    .box {
      margin: 4rem auto;
      background-color: #fff;
      border-radius: 5px;
    }

    h1 {
      color: #ec6010;
    }
  }

  .cat-button {
    background-color: #ec6010 !important;
    border-color: #ec6010 !important;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
  }

  .cat-button:hover {
    text-decoration: none;
    color: #fff;
  }

  // Category list grid- index.html

  .category-grid-view {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 67px;

    figure {
      position: relative;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.555), black), linear-gradient(to bottom right, rgba(0, 0, 0, 0.265) 30%, black);
      margin: 0;
      height: 16rem;

      img {
        object-fit: cover;
        background-size: cover;
        width: 100%;
        height: 16rem;
        z-index: -1;
        position: relative;
      }

      figcaption {
        position: absolute;
        left: 5%;
        top: 80%;
        color: #fff;
        font-weight: 600;
      }

      .category-title-link {
        position: absolute;
        top: 10%;
        left: 5%;
        color: #fff;
        font-weight: 800;
        text-transform: capitalize;
        font-size: 20px;
        border-bottom: 4px solid #eae81c;

        &:hover {
          color: #ec6010;
        }
      }

      a {
        color: #fff;
        text-decoration: none;

        &:hover {
          color: #ec6010;
        }
      }
    }
  }

  // show page

  .main-article-show {
    background-color: #4e443e;
    margin-bottom: 67px;

    .image-banner {
      height: 70vh;

      img {
        object-fit: cover;
        background-size: cover;
        width: 100%;
        height: 70vh;
        background-position: center;
        position: relative;
      }
    }

    .main-body-show {
      .box {
        border: 3px solid #ccc;
        border-radius: 10px;
        padding: 1rem;
        box-shadow: 0 4px 8px 0 rgba(76, 68, 68, 0.2);
        transition: 0.3s;
        margin: 30px auto;

        p {
          font-size: 16px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 9;
          -webkit-box-orient: vertical;
          text-align: justify;
        }

        h2 {
          color: #ec6010;
          font-weight: 700;
        }
      }
    }
  }

  // Hero-section index.html.erb

  .hero-section {
    position: relative;

    .hero-image {
      figure {
        margin: 0;
        height: 75vh;
        background:
          linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.34) 0,
            rgba(0, 0, 0, 0.338) 3.5%,
            rgba(0, 0, 0, 0.324) 7%,
            rgba(0, 0, 0, 0.306) 10.35%,
            rgba(0, 0, 0, 0.262) 17.35%,
            rgba(0, 0, 0, 0.237) 20.85%,
            rgba(0, 0, 0, 0.188) 27.85%,
            rgba(0, 0, 0, 0.165) 31.35%,
            rgba(0, 0, 0, 0.126) 38.35%,
            rgba(0, 0, 0, 0.112) 41.85%,
            rgba(0, 0, 0, 0.1) 48.85%,
            rgba(0, 0, 0, 0.103) 52.35%,
            rgba(0, 0, 0, 0.126) 59.35%,
            rgba(0, 0, 0, 0.144) 62.85%,
            rgba(0, 0, 0, 0.188) 69.85%,
            rgba(0, 0, 0, 0.213) 73.35%,
            rgba(0, 0, 0, 0.262) 80.35%,
            rgba(0, 0, 0, 0.285) 83.85%,
            rgba(0, 0, 0, 0.324) 90.85%,
            rgba(0, 0, 0, 0.338) 94.35%,
            rgba(0, 0, 0, 0.347) 97.85%,
            rgba(0, 0, 0, 0.35)
          );
        background-size: cover;

        img {
          background-size: cover;
          background-position: center;
          height: 75vh;
          z-index: -1;
          width: 100%;
          position: relative;
        }

        figcaption {
          a {
            position: absolute;
            bottom: 12%;
            font-weight: 700 !important;
            color: #fd6000;
            left: 1.5%;
            font-size: 20px;
            text-decoration: none;

            &:hover {
              color: #fff;
            }
          }
        }

        p {
          position: absolute;
          bottom: 2%;
          left: 1.5%;
          color: #fff;
        }
      }
    }
  }

  .article-comment {
    margin: 0 1rem 0 5rem;
  }
}
