.article-main {
  background-color: #4e443e;

  .box {
    margin: 4rem auto;
    background-color: #fff;
    border-radius: 5px;
  }

  h1 {
    color: #EC6010;
  }
}

.cat-button {
  background-color: #EC6010 !important;
  border-color: #EC6010 !important;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  
}

.cat-button:hover {
  text-decoration: none;
  color: #fff;
}